# Univariate, Bivariate and Multivariate Analysis (using iris dataset)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv")

In [4]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [5]:
df.shape

(150, 5)

#### Univariate

In [18]:
df_setosa = df.loc[df['variety']=='Setosa'] # taking all the setosa species inside a variable
df_virginica = df.loc[df['variety']=='Virginica']
df_versicolor = df.loc[df['variety']=='Versicolor'] 

df_setosa.shape

(50, 5)