<h1>Python Boolean Variables and List, Sets, Tuples</h1><br>

For more visit: <a href="https://www.w3schools.com/python/default.asp">Python by W3schools</a>

### Boolean

In [1]:
my_name = "debjeet"

In [2]:
print(my_name.capitalize()) 
print(my_name.isalpha())
print(my_name.isdigit()) # check if the str is digit or not
print(my_name.isalnum()) # check if the str is alphanumeric
print(my_name.isspace()) # check if there is a space 
print(my_name.startswith("d"))
print(my_name.endswith("w"))

Debjeet
True
False
True
False
True
False

### Lists

_Lists are used to store multiple items in a single variable._<br>

_List items are ordered, changeable, and allow duplicate values._<br>
_List items are indexed, the first item has index [0], the second item has index [1] etc.._

<br>

In [3]:
my_list = []

In [4]:
type(my_list)

list

In [5]:
new_list = ['maths', 'chem', 'bio', 21, 56]

In [6]:
print(new_list)

['maths', 'chem', 'bio', 21, 56]

In [7]:
len(new_list) #lenght

5

In [8]:
new_list.append("CS") #append

In [9]:
print(new_list)

['maths', 'chem', 'bio', 21, 56, 'CS']

In [10]:
new_list[:] #print with
new_list[0:3]

['maths', 'chem', 'bio']

In [11]:
new_list.insert(1, "DS") #insert
new_list

['maths', 'DS', 'chem', 'bio', 21, 56, 'CS']

#### _Extend Function_

In [12]:
num_list = [1,2,3,4,4,9,6,3,7,9,9,3]

In [13]:
num_list.extend([14,65])

In [14]:
print(num_list)

[1, 2, 3, 4, 4, 9, 6, 3, 7, 9, 9, 3, 14, 65]

#### _Various Operations_

In [15]:
sum(num_list) #total of the list

139

In [16]:
num_list.pop() #pop out the last val of list

65

In [17]:
num_list.pop(3) #pop out the val of list present in that particular index

4

In [18]:
num_list.count(9) #count the frequency of the num

3

In [19]:
num_list*2 #multiply will not [...] x 2 but it will increase the vals inside the list

[1, 2, 3, 4, 9, 6, 3, 7, 9, 9, 3, 14, 1, 2, 3, 4, 9, 6, 3, 7, 9, 9, 3, 14]

### Sets
_Sets are used to store multiple items in a single variable._<br>
_A set is a collection which is unordered, unchangeable*, and unindexed._<br>

** This is based on hash table<br>
** Just like a set in maths

In [20]:
## Defining a set
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [21]:
## No duplicate values
set = {1,2,2,4,4,5,4}
print(set)

{1, 2, 4, 5}

In [27]:
# No indexing can be done in set to find a ele

# Input:
#set[1]
#set["2"]

# Output:
"""---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Input In [22], in <cell line: 2>()
      1 # No indexing can be done in set to find a ele
----> 2 set[1]
      3 set["2"]

TypeError: 'set' object is not subscriptable
"""

SyntaxError: invalid syntax (2627317483.py, line 6)

#### _Inbuilt functions_

In [23]:
set1 = {'ironman', 'batman', 'spiderman', 'hitman'}
set2 = {'ironman', 'batman', 'spiderman', 'hitman'}

In [24]:
print(set2.add('hulk')) ## adding a new ele in set2
print("Set1: ", set1)
print("Set2: ", set2)

None
Set1:  {'hitman', 'spiderman', 'batman', 'ironman'}
Set2:  {'hitman', 'hulk', 'ironman', 'spiderman', 'batman'}

In [25]:
## Union
set1.union(set2) # return all union of both the sets

{'batman', 'hitman', 'hulk', 'ironman', 'spiderman'}

In [26]:
## Intersection
set1.intersection(set2) # get common elements between the 2 sets

{'batman', 'hitman', 'ironman', 'spiderman'}