<h1>Python Boolean Variables and List, Sets, Tuples</h1><br>

_For more visit: <a href="https://www.w3schools.com/python/default.asp">Python by W3schools</a>_

### Boolean

In [1]:
my_name = "debjeet"

In [2]:
print(my_name.capitalize()) 
print(my_name.isalpha())
print(my_name.isdigit()) # check if the str is digit or not
print(my_name.isalnum()) # check if the str is alphanumeric
print(my_name.isspace()) # check if there is a space 
print(my_name.startswith("d"))
print(my_name.endswith("w"))

Debjeet
True
False
True
False
True
False

## There are four collection data types in the Python programming language:

* List is a collection which is ordered and changeable. Allows duplicate members.
* Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
* Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
* Dictionary is a collection which is ordered** and changeable. No duplicate members.

### Lists

_Lists are used to store multiple items in a single variable._<br>

_List items are ordered, changeable, and allow duplicate values._<br>
_List items are indexed, the first item has index [0], the second item has index [1] etc.._

<br>

In [5]:
my_list = list()
# or
# my_list = []

In [6]:
type(my_list)

list

In [7]:
new_list = ['maths', 'chem', 'bio', 21, 56]

In [6]:
print(new_list)

['maths', 'chem', 'bio', 21, 56]

In [7]:
len(new_list) #lenght

5

In [8]:
new_list.append("CS") #append

In [9]:
print(new_list)

['maths', 'chem', 'bio', 21, 56, 'CS']

In [10]:
new_list[:] #print with
new_list[0:3]

['maths', 'chem', 'bio']

In [11]:
new_list.insert(1, "DS") #insert
new_list

['maths', 'DS', 'chem', 'bio', 21, 56, 'CS']

#### _Extend Function_

In [12]:
num_list = [1,2,3,4,4,9,6,3,7,9,9,3]

In [13]:
num_list.extend([14,65])

In [14]:
print(num_list)

[1, 2, 3, 4, 4, 9, 6, 3, 7, 9, 9, 3, 14, 65]

#### _Various Operations_

In [15]:
sum(num_list) #total of the list

139

In [16]:
num_list.pop() #pop out the last val of list

65

In [17]:
num_list.pop(3) #pop out the val of list present in that particular index

4

In [18]:
num_list.count(9) #count the frequency of the num

3

In [19]:
num_list*2 #multiply will not [...] x 2 but it will increase the vals inside the list

[1, 2, 3, 4, 9, 6, 3, 7, 9, 9, 3, 14, 1, 2, 3, 4, 9, 6, 3, 7, 9, 9, 3, 14]

### Sets
_Sets are used to store multiple items in a single variable._<br>
_A set is a collection which is unordered, unchangeable*, and unindexed._<br>

** This is based on hash table<br>
** Just like a set in maths

In [20]:
## Defining a set
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [21]:
## No duplicate values
set = {1,2,2,4,4,5,4}
print(set)

{1, 2, 4, 5}

In [22]:
# No indexing can be done in set to find a ele

# Input:
"""
set[1]
set["2"]
"""


# Output:
"""
------------------TypeError        Traceback (most recent call last)
Input In [22], in <cell line: 2>()
      1 No indexing can be done in set to find a ele
----> 2 set[1]
      3 set["2"]

TypeError: 'set' object is not subscriptable
"""

'\n------------------TypeError        Traceback (most recent call last)\nInput In [22], in <cell line: 2>()\n      1 No indexing can be done in set to find a ele\n----> 2 set[1]\n      3 set["2"]\n\nTypeError: \'set\' object is not subscriptable\n'

In [23]:
# Access Items
# You cannot access items in a set by referring to an index or a key.

# But you can loop through the set items using a for loop, or ask if a specified value is present in a set
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [24]:
# or using the in keyword
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

#### _Inbuilt functions_

We an exercise almost every methods that we use in our maths for sets

In [25]:
set1 = {'ironman', 'batman', 'spiderman', 'hitman'}
set2 = {'ironman', 'batman', 'spiderman', 'hitman'}

In [26]:
set2.add('hulk') ## adding a new ele in set2
set.remove(2)    ## remove a ele from set

print("Set1: ", set1)
print("Set2: ", set2)

Set1:  {'hitman', 'ironman', 'batman', 'spiderman'}
Set2:  {'hitman', 'ironman', 'batman', 'hulk', 'spiderman'}

In [31]:
## Union
set1.union(set2) # join both of the sets

{'batman', 'hitman', 'hulk', 'ironman', 'spiderman'}

In [28]:
## Intersection
set1.intersection(set2) # get common elements between the 2 sets

{'batman', 'hitman', 'ironman', 'spiderman'}

In [29]:
## Intersection Update
set2.intersection_update(set1)    ## update the set eles with the insection vals
print(set2)

{'hitman', 'ironman', 'batman', 'spiderman'}

In [30]:
## Difference
set2.add('hulk') ## cuz we have updated the set2 in intersection

print(set2.difference(set1)) # get common elements between the 2 sets

## Intersection Update
set2.difference_update(set1)    ## update the set eles with the insection vals
print(set2)

{'hulk'}
{'hulk'}

### Tuples

_Tuple items are ordered, unchangeable, and allow duplicate values._
_Tuple items are indexed, the first item has index [0], the second item has index [1] etc._

**Ordered**<br>
_When we say that tuples are ordered, it means that the items have a defined order, and that order will not change._

**Unchangeable**<br>
_Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created._

**Allow Duplicates**<br>
_Since tuples are indexed, they can have items with the same value._

In [14]:
## Defining
a_tuple = ("deb", "abhi", "rah", "sou")
print(a_tuple)
type(a_tuple)

('deb', 'abhi', 'rah', 'sou')

tuple

In [15]:
# can't add, appened or remove element from it
# a_tuple.append("df") 

"""---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
Input In [12], in <cell line: 1>()
----> 1 a_tuple.append("df")

AttributeError: 'tuple' object has no attribute 'append'
"""

'---------------------------------------------------------------------------\nAttributeError                            Traceback (most recent call last)\nInput In [12], in <cell line: 1>()\n----> 1 a_tuple.append("df")\n\nAttributeError: \'tuple\' object has no attribute \'append\'\n'

In [22]:
# only 2 inbuilt functions can be performed in tuples

print(a_tuple.count('deb'))
print(a_tuple.index('rah'))

1
2

<img src="https://qph.cf2.quoracdn.net/main-qimg-666ab2f17a43d160020a18db79bc5bbc-lq" title="List vs Sets vs Dict vs Tuples"/>

### Dictionaries
_Dictionaries are used to store data values in key:value pairs._<br>
_A dictionary is a collection which is ordered*, changeable and do not allow duplicates._<br>

_Dictionaries are written with curly brackets, and have keys and values_